[submodule "deps/libbtc"]
	path = deps/libbtc
	url = https://github.com/libbtc/libbtc
[submodule "deps/sophia"]
	path = deps/sophia
	url = https://github.com/pmwkaa/sophia
[submodule "deps/brotli"]
	path = deps/brotli
	url = https://github.com/google/brotli
[submodule "deps/zopfli"]
	path = deps/zopfli
	url = https://github.com/google/zopfli
