[submodule "deps/sophia"]
	path = deps/sophia
	url = https://github.com/pmwkaa/sophia
	ignore = dirty
[submodule "deps/brotli"]
	path = deps/brotli
	url = https://github.com/google/brotli
[submodule "deps/zopfli"]
	path = deps/zopfli
	url = https://github.com/google/zopfli
[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "deps/wasm-secp256k1"]
	path = deps/wasm-secp256k1
	url = https://github.com/bitcoin-core/secp256k1
	ignore = dirty
[submodule "deps/yespower"]
	path = deps/yespower
	url = https://github.com/openwall/yespower
[submodule "deps/uthash"]
	path = deps/uthash
	url = https://github.com/troydhanson/uthash
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
[submodule "deps/zbar"]
	path = deps/zbar
	url = https://github.com/mchehab/zbar
	ignore = dirty
[submodule "deps/rocksdb"]
	path = deps/rocksdb
	url = https://github.com/facebook/rocksdb
	ignore = dirty
[submodule "deps/js-cuint"]
	path = deps/js-cuint
	url = https://github.com/pierrec/js-cuint
[submodule "deps/js-levenshtein"]
	path = deps/js-levenshtein
	url = https://github.com/gustf/js-levenshtein
