[submodule "deps/yespower"]
	path = deps/yespower
	url = https://github.com/openwall/yespower
[submodule "deps/uthash"]
	path = deps/uthash
	url = https://github.com/troydhanson/uthash
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
[submodule "deps/zbar"]
	path = deps/zbar
	url = https://github.com/mchehab/zbar
	ignore = dirty
